package {{package}};

{{#operations}}
import {{modelPackage}}.*;

public interface {{classname}}Service {
    {{#operation}}
    {{#responses}}{{baseType}}{{/responses}} {{operationId}}({{#allParams}}{{dataType}} {{paramName}}{{/allParams}});
    {{/operation}}
}
{{/operations}}