package {{package}};

{{#operations}}
import {{modelPackage}}.*;
import javax.ws.rs.*;
import javax.ws.rs.core.SecurityContext;
import javax.ws.rs.core.Context;
import io.swagger.annotations.*;

@Produces("application/json")
@Consumes("application/json")
@Path("")
public class {{classname}}Resource {
    private final {{classname}}Service delegate;
    @Context
    private SecurityContext securityContext;

    public {{classname}}Resource({{classname}}Service delegate) {
        this.delegate = delegate;
    }

    {{#operation}}
    @Path("{{path}}")
    @{{httpMethod}}
    {{#authMethods}}{{#isBasicBasic}}@Authorization("{{name}}"){{/isBasicBasic}}{{/authMethods}}
    public {{#responses}}{{baseType}}{{^baseType}}void{{/baseType}}{{/responses}} {{operationId}}({{!
    }}{{#allParams}}{{>pathParam}}{{>queryParam}}{{dataType}} {{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}}) {
        {{#responses}}{{#baseType}}return {{/baseType}}{{/responses}}delegate.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}});
    }
    {{/operation}}
}
{{/operations}}
